<template name="breadcrumbs">
  <!-- START JUMBOTRON -->
  <div class="jumbotron" data-pages="parallax">
    <div class="container-fluid container-fixed-lg sm-p-l-20 sm-p-r-20">
      <div class="inner">
        <!-- START BREADCRUMB -->
        <ul class="breadcrumb">
          {{#each parents}}
            <li>
              <a href="{{pathFor route=name}}">{{_ label}}</a>
            </li>
          {{/each}}
          <li>
            <a href="#" class="active">{{_ currentRouteLabel}}</a>
          </li>
        </ul>
        <!-- END BREADCRUMB -->
      </div>
    </div>
  </div>
  <!-- END JUMBOTRON -->
</template>
