/*

* Override Pages default styles or create your own styles here

*/

.login-wrapper .login-container {
  display: table;
}

.login-wrapper .login-container > div {
  display: table-cell;
  vertical-align: middle;
  padding-bottom: 68px;
}

.login-wrapper .login-container .logo {
  text-align: right;
}

.login-wrapper .login-container .footer {
  position: absolute;
  bottom: 0px;
  left: 0px;
}

.page-container .page-content-wrapper .content {
  height: auto;
  min-height: 100vh;
  padding-bottom: 68px;
}

@media only screen and (min-width: 980px) {
  body.menu-behind .header .brand {
    width: 275px;
  }
}
.page-container .header .header-inner .brand {
  padding-left: 15px;
  cursor: pointer;
}

.content .table {
  text-align: center;
}

.content .table th {
  text-align: center;
}

.survey-wrapper {
  padding: 30px 50px;
  background-color: #EEEEEE;
}

.survey-wrapper .form-header {
  padding: 30px 0px 40px;
  background-color: white;
}

.survey-wrapper .form-group-default {
  padding: 15px 0px 10px;
  border: 0px;
  border-bottom: 1px inset;
  border-radius: 0px;
}

.survey-wrapper .form-header h1 {
  margin: 0px;
}

.survey-wrapper .form-header #form-title {
  height: 44px;
  font-size: inherit;
  line-height: inherit;
}

.survey-wrapper .question-wrapper {
  margin: 30px 0px;
  padding: 50px 0px;
  background-color: white;
}

.survey-wrapper .question-wrapper .remove-question {
  position: relative;
  top: -32px;
  right: 20px;
  cursor: pointer;
  opacity: 0.6;
}

.survey-wrapper .question-wrapper .remove-question:hover {
  opacity: 1;
}

.survey-wrapper .options-wrapper {
  margin-top: 10px;
}

.survey-wrapper .question-wrapper .options-wrapper input[type="text"] {
  margin-left: 10px;
  padding-bottom: 5px;
  position: relative;
  top: 5px;
  border: 0px;
  border-bottom: 2px solid transparent;
}

.survey-wrapper .question-wrapper .options-wrapper input[type="text"]:hover {
  padding-bottom: 6px;
  border-bottom: 1px dashed;
}

.survey-wrapper .question-wrapper .options-wrapper input[type="text"]:focus {
  padding-bottom: 5px;
  border-bottom: 2px solid;
}

.survey-wrapper .question-wrapper .options-wrapper .remove-option {
  position: relative;
  top: 5px;
  cursor: pointer;
  opacity: 0.6;
}

.survey-wrapper .question-wrapper .options-wrapper .remove-option:hover {
  opacity: 1;
}

.survey-wrapper .question-wrapper .options-wrapper .radio span {
  margin-left: 10px;
}

.survey-wrapper .question-wrapper .options-wrapper .radio .add-option ~ span:hover {
  border-bottom: 1px dotted;
}

.survey-wrapper .btns-wrapper {
  margin-top: 30px;
}

.page-sidebar .sidebar-menu .menu-items > li ul.sub-menu > li .icon-thumbnail.bg-primary {
  background-color: #6d5cae !important;
}

/* storeLocator styles */

.content .map-container {
  padding: 0px;
}

.content #stores-list-container {
  padding: 0px;
}

.content #stores-list-container > h1 {
  padding-left: 20px;
  border-bottom: 1px groove;
}

.content #stores-list-container #stores-list {
  margin-bottom: 0px;
  margin-right: 10px;
  padding-left: 20px;
}

.content #stores-list-container #stores-list > li {
  padding: 0px;
}

.content #stores-list-container #stores-list > li > p {
  margin: 0px;
  padding: 10px 5px;
  border-radius: 2px;
  transition: all 0.2s;
}

.content #stores-list-container #stores-list > li > p:hover {
  padding-left: 20px;
  background-color: #333;
  color: white;
  cursor: pointer;
}

/* Jumbotron */

.jumbotron {
  margin: 0px;
  background-color: #EEEEEE;
  border-bottom: 1px solid rgba(221, 221, 221, 0.5);
}

/* Scrollbar styles */

.scrollbar-outer > .scroll-element,
.scrollbar-outer > .scroll-element div {
  border: none !important;
  margin: 0 !important;
  padding: 0 !important;
  position: absolute !important;
  z-index: 10 !important;
}

.scrollbar-outer > .scroll-element.scroll-y {
  height: 100% !important;
  right: 0 !important;
  top: 0 !important;
  width: 12px !important;
}

.scrollbar-outer > .scroll-element.scroll-y .scroll-element_outer {
  width: 8px !important;
  top: 0px !important;
  left: 2px !important;
  right: initial !important;
  opacity: 1 !important;
}

.scrollbar-outer > .scroll-element.scroll-y:hover .scroll-element_outer {
}

.scrollbar-outer > .scroll-element .scroll-element_track {
  background-color: #e6e6e6;
}

.scrollbar-outer > .scroll-element.scroll-y .scroll-bar {
  width: inherit !important;
  background-color: #c2c2c2;
}

.scrollbar-outer > .scroll-element.scroll-y .scroll-bar:hover,
.scrollbar-outer > .scroll-element.scroll-y .scroll-bar:active {
  background-color: #777;
}

/* btn-group styles */

.btn-group > .btn:first-child:not(:last-child) {
  margin-right: 1px;
}

@media (min-width: 768px) {
  .md-text-right {
    text-align: right;
  }
}

textarea#reward-description {
  min-width: 100%;
  max-width: 100%;
  min-height: 100px;
  max-height: 250px;
}

.datepicker.dropdown-menu {
  padding: 16px 25px !important;
  border: 1px solid rgba(0, 0, 0, 0.15);
}

.datepicker-dropdown.datepicker-orient-top:after {
  border-top: 6px solid #fafafa !important;
}

.datepicker table tr td, .datepicker table tr th {
  color: #333;
}

.datepicker table tr td.disabled, .datepicker table tr td.disabled:hover {
  color: #dbdbdb !important;
}
