/*

* Override Pages default styles or create your own styles here

*/

.login-wrapper .login-container {
  display: table;
}

.login-wrapper .login-container > div {
  display: table-cell;
  vertical-align: middle;
  padding-bottom: 68px;
}

.login-wrapper .login-container .footer {
  position: absolute;
  bottom: 0px;
  left: 0px;
}

.page-container .page-content-wrapper .content {
  height: 100vh;
  padding-bottom: 68px;
}
