/*

* Override Pages default styles or create your own styles here

*/

.login-wrapper .login-container {
  display: table;
}

.login-wrapper .login-container > div {
  display: table-cell;
  vertical-align: middle;
  padding-bottom: 68px;
}

.login-wrapper .login-container .logo {
  text-align: right;
}

.login-wrapper .login-container .footer {
  position: absolute;
  bottom: 0px;
  left: 0px;
}

.page-container .page-content-wrapper .content {
  height: auto;
  min-height: 100vh;
  padding-bottom: 68px;
}

.page-container .header .header-inner .brand {
  padding-left: 10px;
  cursor: pointer;
}

.header .header-inner .brand .text {
  display: inline-block;
  margin-bottom: 5px;
  vertical-align: middle;
  font-size: 25px;
}

.content .table {
  text-align: center;
}

.content .table th {
  text-align: center;
}

.survey-wrapper {
  padding: 30px 50px;
  background-color: #EEEEEE;
}

.survey-wrapper .form-header {
  padding: 30px 0px 40px;
  background-color: white;
}

.survey-wrapper .form-group-default {
  padding: 15px 0px 10px;
  border: 0px;
  border-bottom: 1px inset;
  border-radius: 0px;
}

.survey-wrapper .form-header h1 {
  margin: 0px;
}

.survey-wrapper .form-header #form-title {
  height: 44px;
  font-size: inherit;
  line-height: inherit;
}

.survey-wrapper .question-wrapper {
  margin: 30px 0px;
  padding: 50px 0px;
  background-color: white;
}

.survey-wrapper .question-wrapper .remove-question {
  position: relative;
  top: -32px;
  right: 20px;
  cursor: pointer;
  opacity: 0.6;
}

.survey-wrapper .question-wrapper .remove-question:hover {
  opacity: 1;
}

.survey-wrapper .options-wrapper {
  margin-top: 10px;
}

.survey-wrapper .question-wrapper .options-wrapper input[type="text"] {
  margin-left: 10px;
  padding-bottom: 5px;
  position: relative;
  top: 5px;
  border: 0px;
  border-bottom: 2px solid transparent;
}

.survey-wrapper .question-wrapper .options-wrapper input[type="text"]:hover {
  padding-bottom: 6px;
  border-bottom: 1px dashed;
}

.survey-wrapper .question-wrapper .options-wrapper input[type="text"]:focus {
  padding-bottom: 5px;
  border-bottom: 2px solid;
}

.survey-wrapper .question-wrapper .options-wrapper .remove-option {
  position: relative;
  top: 5px;
  cursor: pointer;
  opacity: 0.6;
}

.survey-wrapper .question-wrapper .options-wrapper .remove-option:hover {
  opacity: 1;
}

.survey-wrapper .question-wrapper .options-wrapper .radio span {
  margin-left: 10px;
}

.survey-wrapper .question-wrapper .options-wrapper .radio .add-option ~ span:hover {
  border-bottom: 1px dotted;
}

.survey-wrapper .btns-wrapper {
  margin-top: 30px;
}

.page-sidebar .sidebar-menu .menu-items > li ul.sub-menu > li .icon-thumbnail.bg-primary {
  background-color: #6d5cae !important;
}

/* storeLocator styles */

.content .map-container {
  padding-left: 0px;
}

.content #stores-list-container {
  padding-right: 0px;
}

.content #stores-list-container #stores-list {
  overflow-y: scroll;
}
