<!-- Add user modal -->
<template name="addUserModal">
  <div class="modal fade slide-up disable-scroll" id="add-user-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content-wrapper">
        <div class="modal-content">
          <div class="modal-header clearfix text-left">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
              <i class="pg-close fs-14"></i>
            </button>
            <h4>Créer un nouveau utilisateur</h4>
          </div>
          <div class="modal-body">
            <form role="form" id="add-user-form">
              <div class="form-group-attached">
                <div class="row">
                  <div class="col-sm-6">
                    <div class="form-group form-group-default required">
                      <label>Prénom</label>
                      <input type="text" class="form-control" id="first-name">
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group form-group-default required">
                      <label>Nom</label>
                      <input type="text" class="form-control" id="last-name">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12">
                    <div class="form-group form-group-default required">
                      <label>Email</label>
                      <input type="email" class="form-control" id="email">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12">
                    <div class="form-group form-group-default required">
                      <label>Nom d'utilisateur</label>
                      <input type="text" class="form-control" id="username">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-6">
                    <div class="form-group form-group-default required">
                      <label>Mot de passe</label>
                      <input type="password" class="form-control" id="password">
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group form-group-default required">
                      <label>Confirmation du mot de passe</label>
                      <input type="password" class="form-control" id="confirm-password">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-8">
                    <div class="form-group form-group-default">
                      <label>Nom de la pharmacie</label>
                      <input type="text" class="form-control" id="pharmacy-name">
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="form-group form-group-default required">
                      <label>Role</label>
                      <select class="full-width cs-select cs-skin-slide" id="role" data-init-plugin="cs-select">
                        <option value="member">Utilisateur</option>
                        <option value="administrator">Administrateur</option>
                      </select>
                      <!-- <input type="text" class="form-control"> -->
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">
              <span class="bold">Annuler</span>
            </button>
            <button type="button" class="btn btn-success" id="add-user-modal-btn">
              <span class="bold">Créer</span>
            </button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-content-wrapper -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
</template>
