<template name="users">
  {{> breadcrumbs}}
  <div class="btns-wrapper m-t-20 m-r-30 clearfix">
    <button type="button" class="btn btn-complete btn-cons btn-animated from-left fa fa-plus pull-right" id="add-user-btn" data-toggle="modal" data-target="#add-user-modal">
      <span class="bold">{{_ "Add member"}}</span>
    </button>
  </div>
  <hr>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>{{_ "Name"}}</th>
        <th>{{_ "Email"}}</th>
        <th>{{_ "Username"}}</th>
        <th>{{_ "Role"}}</th>
        <th>{{_ "Actions"}}</th>
      </tr>
    </thead>
    <tbody>
      {{#each users}}
        <tr>
          <td>{{profile.name}}</td>
          <td>
            {{#each emails}}
              {{address}}<br />
            {{/each}}
          </td>
          <td>{{username}}</td>
          <td>{{profile.role}}</td>
          <td>
            <div class="btn-group">
              <button type="button" class="btn btn-warning" data-original-title="{{_ 'Edit user'}}" data-toggle="tooltip" data-placement="bottom"><i class="fa fa-pencil"></i></button>
              <button type="button" class="btn btn-danger" id="remove-user-btn" data-original-title="{{_ 'Remove user'}}" data-tooltip-toggle="tooltip" data-placement="bottom" data-toggle="modal" data-target="#remove-user-modal"><i class="fa fa-trash"></i></button>
            </div>
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>

  {{> removeUserModal}}
  {{> addUserModal}}
</template>
