<template name="addSurvey">
  <div class="survey-wrapper">
    <form role="form" id="add-survey-form">
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
          <div class="form-group form-group-default required">
            <label>Form Title</label>
            <input type="text" class="form-control" id="form-title">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
          <div class="form-group form-group-default">
            <label>Form Description</label>
            <input type="text" class="form-control" id="form-description">
          </div>
        </div>
      </div>
      {{> question}}
      {{> question}}
    </form>
  </div>
</template>

<template name="question">
  <div class="question-wrapper">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <div class="form-group form-group-default">
          <input type="text" class="form-control question" placeholder="Question">
        </div>
      </div>
    </div>
    <div class="options-wrapper">
      {{> option placeholder="Option 1"}}
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
          <div class="radio">
            <label>
              <input type="radio" class="add-option">
              Add option
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<template name="option">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <div class="radio">
        <input type="radio" name="options">
        <label>
          <input type="text" placeholder="{{placeholder}}">
        </label>
        <div class="remove-option fa fa-remove fa-lg"></div>
      </div>
    </div>
  </div>
</template>
