<template name="addSurvey">
  {{> breadcrumbs}}
  <div class="survey-wrapper">
    <form role="form" id="add-survey-form" autocomplete="off">
      <div class="form-header">
        <div class="row">
          <div class="col-sm-8 col-sm-offset-2">
            <div class="form-group form-group-default required">
              <h1><input type="text" class="form-control" id="form-title" placeholder="Titre"></h1>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-8 col-sm-offset-2">
            <div class="form-group form-group-default">
              <input type="text" class="form-control" id="form-description" placeholder="Description">
            </div>
          </div>
        </div>
      </div>
      <div class="questions-wrapper">
        {{> question}}
      </div>
      <div class="btns-wrapper clearfix">
        <button type="button" class="btn btn-complete btn-animated from-left fa fa-plus pull-right" id="add-question-btn">
          <span class="bold">Ajouter une question</span>
        </button>
      </div>
      <div class="date-wrapper clearfix">
        <div class="row">
          <label for="publish-date" class="col-sm-2">{{_ "Publish on"}}</label>
          <div class="col-sm-3">
            <div class="input-group date">
              <input type="text" class="form-control" id="publish-date" placeholder="dd/mm/yyyy" required>
              <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
            </div>
          </div>
          <label for="expiry-date" class="col-sm-2 col-sm-offset-2">{{_ "Expires on"}}</label>
          <div class="col-sm-3">
            <div class="input-group date">
              <input type="text" class="form-control" id="expiry-date" placeholder="dd/mm/yyyy" required>
              <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
            </div>
          </div>
        </div>
      </div>
      <div class="btns-wrapper clearfix">
        <button type="button" class="btn btn-success btn-animated from-left fa fa-save pull-right" id="save-survey-btn">
          <span class="bold">Enregistrer</span>
        </button>
        <button type="button" class="btn btn-danger btn-animated from-left fa fa-remove pull-right m-r-20" id="cancel-btn">
          <span class="bold">Annuler</span>
        </button>
      </div>
    </form>
  </div>
</template>

<template name="question">
  <div class="question-wrapper">
    <div class="remove-question fa fa-remove fa-lg pull-right"></div>
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <div class="form-group form-group-default">
          <input type="text" class="form-control question" placeholder="Question" value="{{text}}">
        </div>
      </div>
    </div>
    <div class="options-wrapper">
      {{#if options}}
        {{#each options}}
          {{> option placeholder="Option 1" text=text}}
        {{/each}}
      {{else}}
        {{> option placeholder="Option 1"}}
      {{/if}}
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
          <div class="radio">
            <label>
              <input type="radio" class="add-option">
              <span>Ajouter une option</span>
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<template name="option">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <div class="radio">
        <input type="radio" name="options">
        <label>
          <input type="text" class="option" placeholder="{{placeholder}}" value="{{text}}">
        </label>
        <div class="remove-option fa fa-remove fa-lg"></div>
      </div>
    </div>
  </div>
</template>
