<template name="addSurvey">
  <div class="survey-wrapper">
    <form role="form" id="add-survey-form">
      <div class="form-header">
        <div class="row">
          <div class="col-sm-8 col-sm-offset-2">
            <div class="form-group form-group-default required">
              <input type="text" class="form-control" id="form-title" placeholder="Form title">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-8 col-sm-offset-2">
            <div class="form-group form-group-default">
              <input type="text" class="form-control" id="form-description" placeholder="Form description">
            </div>
          </div>
        </div>
      </div>
      <div class="questions-wrapper">
        {{> question}}
      </div>
      <div class="btns-wrapper clearfix">
        <button type="button" class="btn btn-success btn-animated from-left fa fa-save pull-right" id="save-survey-btn">
          <span class="bold">Save</span>
        </button>
        <button type="button" class="btn btn-info btn-animated from-left fa fa-plus pull-right m-r-20" id="add-question-btn">
          <span class="bold">Add Question</span>
        </button>
      </div>
    </form>
  </div>
</template>

<template name="question">
  <div class="question-wrapper">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <div class="form-group form-group-default">
          <input type="text" class="form-control question" placeholder="Question">
        </div>
      </div>
    </div>
    <div class="options-wrapper">
      {{> option placeholder="Option 1"}}
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
          <div class="radio">
            <label>
              <input type="radio" class="add-option">
              Add option
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<template name="option">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <div class="radio">
        <input type="radio" name="options">
        <label>
          <input type="text" placeholder="{{placeholder}}">
        </label>
        <div class="remove-option fa fa-remove fa-lg"></div>
      </div>
    </div>
  </div>
</template>
