<template name="manageSurveys">
  {{> breadcrumbs}}
  <div class="survey-list-wrapper">
    <button type="button" class="btn btn-info btn-animated from-left fa fa-plus pull-right m-t-20 m-b-10 m-r-30" id="add-survey-btn">
      <span class="bold">Add Survey</span>
    </button>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Title</th>
          <th>Date Created</th>
          <th>Publish Status</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {{#each surveys}}
          <tr>
            <td>{{title}}</td>
            <td>{{dateCreated}}</td>
            <td>{{> switchery}}</td>
            <td>
              <div class="btn-group">
                <button type="button" class="btn btn-default edit-survey-btn" title="Edit survey"><i class="fa fa-pencil"></i></button>
                <button type="button" class="btn btn-default preview-survey-btn" title="Preview survey"><i class="fa fa-eye"></i></button>
                <button type="button" class="btn btn-default remove-survey-btn" title="Remove survey" data-toggle="modal" data-target="#remove-survey-modal"><i class="fa fa-remove"></i></button>
              </div>
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</template>

<template name="switchery">
  <input type="checkbox" class="switchery" />
</template>
