<template name="surveyResponsesList">
  <div class="survey-list-wrapper">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Title</th>
          <th>Date Created</th>
          <th>Responses</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {{#each surveys}}
          <tr>
            <td>{{title}}</td>
            <td>{{dateCreated}}</td>
            <td>{{responses}}</td>
            <td>
              <div class="btn-group">
                <button type="button" class="btn btn-default view-response-btn" title="View responses"><i class="fa fa-eye"></i></button>
              </div>
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</template>
