<template name="surveys">
  {{> breadcrumbs}}
  <div class="table-responsive surveys-list-wrapper">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>{{_ "Title"}}</th>
          <th>{{_ "Publish date"}}</th>
          <th>{{_ "Expiry date"}}</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {{#each surveys}}
          <tr>
            <td class="bold">{{title}}</td>
            <td>{{dateToLocaleDateString publishDate}}</td>
            <td>{{dateToLocaleDateString expiryDate}}</td>
            <td>
              <div class="btn-group">
                <button type="button" class="btn btn-complete view-survey-btn" data-original-title="View survey"
                  data-toggle="tooltip" data-placement="bottom">
                  <i class="fa fa-eye"></i>
                </button>
              </div>
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</template>
