<template name="sideBar">
  <!-- BEGIN SIDEBAR -->
  <div class="page-sidebar" data-pages="sidebar">
    <div id="appMenu" class="sidebar-overlay-slide from-top">
    </div>
    <!-- BEGIN SIDEBAR HEADER -->
    <div class="sidebar-header">
      {{!--
      <img src="img/logo_white.png" alt="logo" class="brand" data-src="img/logo_white.png" data-src-retina="img/logo_white_2x.png" width="78" height="22">
      <div class="sidebar-header-controls">
        <button data-pages-toggle="#appMenu" class="btn btn-xs sidebar-slide-toggle btn-link m-l-20" type="button"><i class="fa fa-angle-down fs-16"></i>
        </button>
        <button data-toggle-pin="sidebar" class="btn btn-link visible-lg-inline" type="button"><i class="fa fs-12"></i>
        </button>
      </div>
      --}}
    </div>
    <!-- END SIDEBAR HEADER -->
    <!-- BEGIN SIDEBAR MENU -->
    <div class="sidebar-menu">
      <ul class="menu-items">
        <li class="m-t-30">
          <a href="{{pathFor route='home'}}" class="detailed">
            <span class="title">{{_ "Home"}}</span>
          </a>
          <span class="icon-thumbnail "><i class="pg-home"></i></span>
        </li>
        <li class="">
          <a href="{{pathFor route='chat'}}">
            <span class="title">{{_ "Chat"}}</span>
          </a>
          <span class="icon-thumbnail "><i class="pg-social"></i></span>
        </li>
        <li class="">
          <a href="{{pathFor route='projects'}}">
            <span class="title">{{_ "Projects"}}</span>
          </a>
          <span class="icon-thumbnail "><i class="fa fa-trello"></i></span>
        </li>
        <li class="">
          <a href="{{pathFor route='products'}}">
            <span class="title">{{_ "Products"}}</span>
          </a>
          <span class="icon-thumbnail "><i class="fa fa-shopping-cart"></i></span>
        </li>
        <li class="">
          <a href="{{#if isAdministrator}}{{pathFor route='manage-surveys'}}{{else}}{{pathFor route='surveys'}}{{/if}}">
            <span class="title">{{_ "Surveys"}}</span>
          </a>
          <span class="icon-thumbnail "><i class="pg-form"></i></span>
        </li>
        {{#if isAdministrator}}
          <li class="">
            <a href="{{pathFor route='members'}}">
              <span class="title">{{_ "Members"}}</span>
            </a>
            <span class="icon-thumbnail "><i class="fa fa-users"></i></span>
          </li>
        {{/if}}
        <li class="">
          <a href="{{pathFor route='rewards'}}">
            <span class="title">{{_ "Rewards"}}</span>
          </a>
          <span class="icon-thumbnail "><i class="fa fa-gift"></i></span>
        </li>
      </ul>
      <div class="clearfix"></div>
    </div>
    <!-- END SIDEBAR MENU -->
  </div>
  <!-- END SIDEBAR -->
</template>
