<template name="notFound">
  <div class="container-xs-height full-height">
    <div class="row-xs-height">
      <div class="col-xs-height col-middle">
        <div class="error-container text-center">
          <h1 class="error-number">404</h1>
          <h2 class="semi-bold">Page introuvable.</h2>
          <!-- <div class="error-container-innner text-center">
            <form>
              <div class="form-group form-group-default input-group transparent text-left">
                <label>Search</label>
                <input class="form-control" placeholder="Try searching the missing page" type="text"><span class="input-group-addon pg-search"></span>
              </div>
            </form>
          </div> -->
        </div>
      </div>
    </div>
  </div>
</template>
