<template name="viewRewards">
  <div class="container-fluid m-t-20">
    <div class="row">
      <div class="col-sm-12">
        <h4 class="font-montserrat text-right">
          <span class="text-uppercase fs-16 hint-text">Points available &nbsp;</span>
          <span style="font-size: 35px;">{{rewardPoints}}</span>
        </h4>
     </div>
    </div>
  </div>
  <hr>
  <div class="table-responsive">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>{{_ "Name"}}</th>
          <th>{{_ "Valid till"}}</th>
          <th>{{_ "Points needed"}}</th>
          <th>{{_ "Actions"}}</th>
        </tr>
      </thead>
      <tbody>
        {{#if Template.subscriptionsReady}}
          {{#each rewards}}
            {{> rewardItem}}
          {{else}}
            <tr>
              <td colspan="4">{{_ "There are no published rewards at the moment."}}</td>
            </tr>
          {{/each}}
        {{else}}
          {{> loading}}
        {{/if}}
      </tbody>
    </table>
  </div>
  {{#if Template.subscriptionsReady}}
    {{> pagination}}
  {{/if}}
  {{> claimRewardModal}}
</template>

<template name="rewardItem">
  <tr>
    <td>{{title}}</td>
    <td>{{dateToLocaleString validTill}}</td>
    <td>{{points}}</td>
    <td>
      <div class="btn-group">
        <button type="button" class="btn btn-complete claim-reward-btn" data-original-title="{{_ 'Claim reward'}}"
          data-toggle="modal" data-target="#claim-reward-modal"
          data-tooltip-toggle="tooltip" data-placement="bottom">
          <i class="fa fa-plus-square-o fa-lg"></i>
        </button>
      </div>
    </td>
  </tr>
</template>
