<template name="viewRewards">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1">
        <h4>Points available: {{rewardPoints}}</h4>
     </div>
    </div>
  </div>
  <hr>
  <div class="table-responsive">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>{{_ "Name"}}</th>
          <th>{{_ "Valid till"}}</th>
          <th>{{_ "Points needed"}}</th>
          <th>{{_ "Actions"}}</th>
        </tr>
      </thead>
      <tbody>
        {{#if Template.subscriptionsReady}}
          {{#each rewards}}
            <tr>
              <td>{{title}}</td>
              <td>{{dateToLocaleString validTill}}</td>
              <td>{{points}}</td>
              <td>
                <div class="btn-group">
                  <button type="button" class="btn btn-complete claim-reward-btn" data-original-title="{{_ 'Claim reward'}}"
                    data-toggle="modal" data-target="#claim-reward-modal"
                    data-tooltip-toggle="tooltip" data-placement="bottom">
                    <i class="fa fa-plus-square-o fa-lg"></i>
                  </button>
                </div>
              </td>
            </tr>
          {{else}}
            <tr>
              <td colspan="4">{{_ "There are no published rewards at the moment."}}</td>
            </tr>
          {{/each}}
        {{else}}
          {{> loading}}
        {{/if}}
      </tbody>
    </table>
  </div>
  {{#if Template.subscriptionsReady}}
    {{> pagination}}
  {{/if}}
  {{> claimRewardModal}}
</template>
