<template name="pagination">
  <nav class="text-center">
    <ul class="pagination">
      <li>
        <a href="#" aria-label="Previous" class="previous" data-original-title="{{_ 'Previous'}}"
          data-toggle="tooltip" data-placement="bottom">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      {{#each pages}}
        <li><a href="#" class="page-number">{{this}}</a></li>
      {{/each}}
      <li>
        <a href="#" aria-label="Next" class="next" data-original-title="{{_ 'Next'}}"
          data-toggle="tooltip" data-placement="bottom">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    </ul>
  </nav>
</template>
