<template name="login">
  <!-- START Login Form -->
  <form id="login-form" class="p-t-15 p-b-20" role="form">
    <!-- START Form Control-->
    <div class="form-group form-group-default required">
      <label for="login-username">Nom d'utilisateur</label>
      <input type="text" id="login-username" class="form-control" name="username" placeholder="Username" autocomplete="off">
    </div>
    <!-- END Form Control-->
    <!-- START Form Control-->
    <div class="form-group form-group-default required">
      <label for="login-password">Mot de passe</label>
      <input type="password" id="login-password" class="form-control" name="password" placeholder="Password">
    </div>
    <!-- START Form Control-->
    <div class="row">
      <div class="col-xs-6">
        <div class="checkbox ">
          <input type="checkbox" value="1" id="checkbox1">
          <label for="checkbox1">Rester connecté</label>
        </div>
      </div>
      <div class="col-xs-6 text-right">
        <a href="#" class="text-info small">Besoin d'aide ?</a>
      </div>
    </div>
    <!-- END Form Control-->
    <button class="btn btn-primary btn-cons pull-right m-t-10 m-r-0" type="submit">Se connecter</button>
    <div class="clearfix"></div>
  </form>
  <!--END Login Form-->
</template>
