<template name="login">
  <form role="form">
    <div class="form-group form-group-default ">
      <label for="login-username">Username</label>
      <input type="text" class="form-control" id="login-username" placeholder="Enter username">
    </div>
    <div class="form-group form-group-default ">
      <label for="login-password">Password</label>
      <input type="password" class="form-control" id="login-password" placeholder="Password">
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
  </form>
</template>